.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 24px 24px 0px 24px;
}
.footer{
    width: 100%;
    text-align: center;
}
.footer--link{
    color: var(--Red);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}